#me{
	margin-top: 40px;	
}
a:hover{
	color: red;	
}
#table_tr1{
	width: 500px;	
	text-align: center;
}
#table_tr2{
	width: 350px;	
}
#user{
	position: absolute;
	left: 100px;
	top: 150px;
	width: 15%;
}
img{
	width: 120%;
	height: 130%;	
}