<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="root" >
    <title>Calendar | Adminstrap</title>
    <!--jquery-->
    <link href="/static/calendar_files/jquery-ui-1.css" rel="stylesheet">
    <!--bootstrap-->
    <link href="/static/calendar_files/bootstrap.css" rel="stylesheet">
    <!--fullcalendar-->
    <link href="/static/calendar_files/fullcalendar_002.css" rel="stylesheet">
    <link href="/static/calendar_files/fullcalendar.css" rel="stylesheet" media="print">
    <!--app-->
    <link href="/static/calendar_files/style.css" rel="stylesheet">
    <style type="text/css">
        .nav-pills > .active > a, .nav-pills > .active > a:hover
        {
            background-color: #3366CC;
        }
    </style>
    <style type="text/css">
			#tit{
					margin: 0 auto;			
			}
		</style>
</head>
<body>
    <!--Navigation-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid" id='tit'>
                <a class="brand" href="/"style="position:relative;left:44%;">
                   <h2> 员工签到系统</h2></a>
            </div>
        </div>
    </div>
    <!--Profile Form-->
    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                Profile</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
            <legend>Contact Info</legend>
            <div class="control-group">
                <label class="control-label" for="txtContactName">
                    Name</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input class="span4" id="txtContactName" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtPhone">
                    Phone</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-comment"></i></span>
                        <input class="span4" id="txtPhone" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtEmail">
                    E-mail</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input class="span4" id="txtEmail" type="text">
                    </div>
                </div>
            </div>
            <legend>Security Info</legend>
            <div class="control-group">
                <label class="control-label" for="txtLoginID">
                    Login ID</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input class="span4" id="txtLoginID" value="admin" disabled="disabled" type="text">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="txtPassword">
                    Password
                </label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input class="span4" id="txtPassword" type="password">
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
    <!--Container-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                	<h3>姓名:&nbsp;&nbsp;&nbsp;<b style='color:red;'>{{username}}</b></h3><hr />
                    <h4>
                        Comments</h4>
                    <ul id="external-events" class="nav nav-pills nav-stacked">
                        <li class="active"><a style="position: relative;" href="#" class="external-event ui-draggable">忘了签到……</a></li>
                        <li class="active"><a style="position: relative;" href="#" class="external-event ui-draggable">忘了签入！</a></li>
                        <li class="active"><a style="position: relative;" href="#" class="external-event ui-draggable">忘了签出！</a></li>
                        <li class="active"><a style="position: relative;" href="#" class="external-event ui-draggable">今天有事请假！</a></li>
                    </ul>
                    <label class="checkbox">
                        <input id="drop-remove" type="checkbox">
                        remove after drop
                    </label>
                    				<form method='post' id='in'>
                    				<input type='hidden' value="{{username}}" name='username' />
														<button type="button" class="btn btn-large btn-block btn-success" onclick='signin()'><b>上 班 签 到</b></button>
														</form>
														<form method='post' id='out' action='/signout/'> 														
                    				<input type='hidden' value="{{username}}" name='username' />
														<button type="button" class="btn btn-large btn-block btn-success" onclick='signout()'><b>下 班 签 出</b></button>
														</form>                    
                    
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">
                <div class="fc" id="calendar"><table class="fc-header" style="width: 100%;"><tbody><tr><td class="fc-header-left"><span class="fc-button fc-button-prev fc-state-default fc-corner-left"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;◄&nbsp;</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-next fc-state-default fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">&nbsp;►&nbsp;</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-header-space"></span><span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled"><span class="fc-button-inner"><span class="fc-button-content">today</span><span class="fc-button-effect"><span></span></span></span></span></td><td class="fc-header-center"><span class="fc-header-title"><h2>April 2013</h2></span></td><td class="fc-header-right"><span class="fc-button fc-button-month fc-state-default fc-corner-left fc-state-active"><span class="fc-button-inner"><span class="fc-button-content">month</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-agendaWeek fc-state-default"><span class="fc-button-inner"><span class="fc-button-content">week</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-agendaDay fc-state-default fc-corner-right"><span class="fc-button-inner"><span class="fc-button-content">day</span><span class="fc-button-effect"><span></span></span></span></span></td></tr></tbody></table><div class="fc-content" style="position: relative; min-height: 1px;"><div unselectable="on" class="fc-view fc-view-month fc-grid" style="position: relative; -moz-user-select: none;"><table class="fc-border-separate" style="width: 100%;" cellspacing="0"><thead><tr class="fc-first fc-last"><th style="width: 138px;" class="fc-sun fc-widget-header fc-first">Sun</th><th style="width: 138px;" class="fc-mon fc-widget-header">Mon</th><th style="width: 138px;" class="fc-tue fc-widget-header">Tue</th><th style="width: 138px;" class="fc-wed fc-widget-header">Wed</th><th style="width: 138px;" class="fc-thu fc-widget-header">Thu</th><th style="width: 138px;" class="fc-fri fc-widget-header">Fri</th><th class="fc-sat fc-widget-header fc-last">Sat</th></tr></thead><tbody><tr class="fc-week0 fc-first"><td class="fc-sun fc-widget-content fc-day0 fc-first fc-other-month"><div style="min-height: 118px;"><div class="fc-day-number">31</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day1"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day2"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day3"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day4"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day5"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day6 fc-last fc-state-highlight fc-today"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week1"><td class="fc-sun fc-widget-content fc-day7 fc-first"><div style="min-height: 117px;"><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day8"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day9"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day10"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day11"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day12"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day13 fc-last"><div><div class="fc-day-number">13</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week2"><td class="fc-sun fc-widget-content fc-day14 fc-first"><div style="min-height: 117px;"><div class="fc-day-number">14</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day15"><div><div class="fc-day-number">15</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day16"><div><div class="fc-day-number">16</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day17"><div><div class="fc-day-number">17</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day18"><div><div class="fc-day-number">18</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day19"><div><div class="fc-day-number">19</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day20 fc-last"><div><div class="fc-day-number">20</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week3"><td class="fc-sun fc-widget-content fc-day21 fc-first"><div style="min-height: 117px;"><div class="fc-day-number">21</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day22"><div><div class="fc-day-number">22</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day23"><div><div class="fc-day-number">23</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day24"><div><div class="fc-day-number">24</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day25"><div><div class="fc-day-number">25</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day26"><div><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day27 fc-last"><div><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week4"><td class="fc-sun fc-widget-content fc-day28 fc-first"><div style="min-height: 117px;"><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day29"><div><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day30"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day31 fc-other-month"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day32 fc-other-month"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day33 fc-other-month"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day34 fc-last fc-other-month"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr><tr class="fc-week5 fc-last"><td class="fc-sun fc-widget-content fc-day35 fc-first fc-other-month"><div style="min-height: 117px;"><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-mon fc-widget-content fc-day36 fc-other-month"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-tue fc-widget-content fc-day37 fc-other-month"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-wed fc-widget-content fc-day38 fc-other-month"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-thu fc-widget-content fc-day39 fc-other-month"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-fri fc-widget-content fc-day40 fc-other-month"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td><td class="fc-sat fc-widget-content fc-day41 fc-last fc-other-month"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position:relative">&nbsp;</div></div></div></td></tr></tbody></table><div style="position: absolute; z-index: 8; top: 0pt; left: 0pt;"></div></div></div>
                </div>
            </div>
            <div>
							<form action='/comments/'method='post' id='comment'>
								<input type='hidden' name='username'id='username' />	
								<input type='hidden' name='year'id='year' />	
								<input type='hidden' name='month'id='month' />	
								<input type='hidden' name='day'id='day' />	
								<input type='hidden' name='comments'id='comments' />								
							</form>            
            </div>
        </div>
    </div>
    <!--jquery-->
    <script src="/static/calendar_files/jquery-1.js"></script>
    <!--bootstrap-->
    <script src="/static/calendar_files/bootstrap-transition.js"></script>
    <script src="/static/calendar_files/bootstrap-alert.js"></script>
    <script src="/static/calendar_files/bootstrap-modal.js"></script>
    <script src="/static/calendar_files/bootstrap-dropdown.js"></script>
    <script src="/static/calendar_files/bootstrap-scrollspy.js"></script>
    <script src="/static/calendar_files/bootstrap-tab.js"></script>
    <script src="/static/calendar_files/bootstrap-tooltip.js"></script>
    <script src="/static/calendar_files/bootstrap-popover.js"></script>
    <script src="/static/calendar_files/bootstrap-button.js"></script>
    <script src="/static/calendar_files/bootstrap-collapse.js"></script>
    <script src="/static/calendar_files/bootstrap-carousel.js"></script>
    <script src="/static/calendar_files/bootstrap-typeahead.js"></script>
    <!--jquery ui-->
    <script src="/static/calendar_files/jquery.js"></script>
    <script src="/static/calendar_files/jquery-ui-1.js"></script>
    <!--fullcalendar-->
    <script src="/static/calendar_files/fullcalendar.js"></script>
    <!--app-->
    <script src="/static/calendar_files/script.js"></script>
    <!--jquery init-->
    <script>
        $(document).ready(function () {

            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events a.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim('comments: '+$(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });


            /* initialize the calendar
            -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
										{%for i in message%}
											{% if 'starttime' in i%}
											{
													title:"签入：{{i['starttime'].strftime('%Y-%m-%d %H:%M:%S')}}",
													start:"{{i['starttime']}}"										
											},
											{%end%}
											{%if 'endtime' in i%}  
											{
													title:"签出：{{i['endtime'].strftime('%Y-%m-%d %H:%M:%S')}}",
													start:"{{i['endtime']}}"
											},
											{%end%} 
											{%if 'comments' in i%}
											{
													title:"comments: {{i['comments']}}",
													start: new Date({{i['year']}}, parseInt({{i['month']}})-1, {{i['day']}}),										
											},
											{% end %}             
                		{%end%}
                ] ,
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;							
										
                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
										$('#username').val("{{username}}");
										$('#year').val(date.getFullYear());
										$('#month').val(parseInt(date.getMonth())+1);
										$('#day').val(date.getDate());
										$('#comments').val($(this).text());
										$('#comment').submit();
                }
            });

        });
    </script>

<script type="text/javascript" >
function signin(){
		if("{{errorinfo}}"){
			alert("{{errorinfo}}");
		}
		else{
			alert("签到成功！！！")
			$('#in').submit();	
		}
		//$('#in').submit();
}
function signout(){
			alert("签出成功！！！")
			$('#out').submit();	
		
		//$('#in').submit();
}

$(function(){
		var arr = new Array();
		$('.fc-header').each(function(){
				arr.push($(this));	
		})
		arr[1].detach();
})
$(function(){
		var arr = new Array();
		$('.fc-content').each(function(){
				arr.push($(this));	
		})
		arr[1].detach();
})
$(function(){
		var arr = new Array();
		$('.fc-event-title').each(function(){
				arr.push($(this));	
		})
		for(var i=0;i<arr.length;i++){
				if(arr[i].text().substr(0,8) != "comments"){
						arr[i].parent().css({'background-color':'#5BB75B'})				
				}		
		}
})
</script>
</body>
</html>