<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
<link rel="stylesheet" href="/static/assets/css/bootstrap.css">
<link rel="stylesheet" href="/static/assets/css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/assetscss/docs.css">
<link rel="stylesheet" href="/static/showall.css"/>

<script src="/static/assets/js/jquery.js" type="text/javascript"></script>
</head>
<body>
<div class="row-fluid">
	<div class="span6 offset3"><h1><center>员工签到信息表</center></h1></div>
	<div class="span4 offset8">选择年份：<select id="yy"class="span3">{%if allyear%}{% for year1 in allyear %}<option>{{year1}}</option> {%end%}{%else%}<optgroup>{{year}}</optgroup></optgroup> {%end%}</select> 选择月份：<select class="span3" id="mm"><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option></select></div>
		{% for i in users %}
		<div class="span6 offset3 well sidebar-nav" id="me">
			<table summary="" class="table"id="{{i[0]}}">
				<tr>
					<td rowspan="4">
						<a href="/detail/?username={{i[0]}}" ><img src="{{i[4]}}" alt="" /></a>
					</td>
					<td>				
						<table summary="" class="table table-hover table-bordered"style="background-color:white;font-weight:bold" >
						<tbody>
							<tr class="btn-warning"><td>姓名</td><td style="color:red;font-size:2em;">{{i[0]}}</td></tr>
							<tr><td>本月签到</td><td id="table_tr2">{{i[1]}}</td></tr>
							<tr><td>午餐补助</td><td>{{i[2]}}</td></tr>
							<tr><td>加班天数</td><td>{{i[3]}}</td></tr>
						</tbody>
						</table>
					</td>
				</tr>
			</table>
			
	</div>{% end %}
	<div class="well sidebar-nav" id="user">
<h4>
公司员工</h4>
<ul id="external-events" class="nav nav-pills nav-stacked">{% for i in users1 %}
<li class="active"><a style="position: relative;" href="#{{i['username']}}" class="external-event ui-draggable">{{i['username']}}</a></li>
{%end%}
</ul>

</div>
<script type="text/javascript" >
	var y = document.getElementById("yy")
	for(var i=0;i<y.length;i++){
		if(y.options[i].text =='{{year}}'){
			y.options[i].selected	= "selected";	
		} 	
	}
	var x = document.getElementById("mm")
	for(var i=0;i<x.length;i++){
		if(x.options[i].text =="{{month}}"){
			x.options[i].selected	= "selected";
		} 	
	}
	
	$(document).ready(function(){
		$('#mm').change(function(){
			var y = $("#yy option:selected").text()
			var m = $("#mm option:selected").text()
			window.location.href = "/?year="+y+"&month="+m
			/*$.ajax({
				type:"POST",
				url:"/",
				data:"year="+$("#yy option:selected").text()+"&month="+$("mm option:selected").text(),
				dataType:"html"
			})*/
		})	
	})	;
</script>
<script src="/static/assets/js/jquery.js" type="text/javascript"></script>
<script src="/static/assets/js/application.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-affix.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-alert.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-button.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-carousel.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-collapse.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-popover.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-scrollspy.js" type="text/javascript" />
<script src="/static/assets/js/bootstrap-tab.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-tooltip.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-transition.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap-typeahead.js" type="text/javascript"></script>
</body>
</html>